.js-form {
    text-align: end;
}

.section{
    margin-bottom: 20px;
    background: rgb(255,255,255);  
}

.section__header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: solid 2px rgb( 232, 232, 232);
    margin: 0;
    
}

@media (max-width: 700px) {
    .section__header {
        flex-flow: column;
    }
}