html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body{
    background: rgb(231, 230, 230);
    font-family: 'Lato', sans-serif;
    word-break: break-word;
 
}

.main{
  margin: 30px auto;
  max-width: 800px;
  width: 100%;
    
}

.button {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: #209e20a2;
    transition: 0.5s;
}


.form__addTaskButton {
    background-color: #087777;
    color: white;
    padding: 5px;
    border: 0px;
    transition: 0.5s;
}

.form__addTaskButton:hover {
    background-color: #099e9e;
    transform: scale(1.1);
}

.button__task--remove {
    background-color: #bb1919c4;
}